@using System.Globalization
@model SearchViewModel

<div class="text-center">
    <h1 class="display-4">Postcode Search</h1>
    <form method="post">
        <label>Postcode:</label>
        <input name="Postcode" placeholder="eg. BH11LR" value="@Model.Postcode" />
        <input name="Search" value="Search" type="submit" />
    </form>
</div>

<hr />

<div class="row">
    @foreach (var policy in Model.Policies)
    {
        var property = policy.Property;

        <div class="col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header">@property.Postcode</div>
                <div class="card-body">
                    <h5 class="card-title">@property.StreetAddress</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        @string.Format(new CultureInfo("en-GB"), "{0:C}", property.PriceInPounds)
                    </h6>
                    @if (policy.Claims.Any())
                    {
                        <div id=@($"accordian_{policy.Id}")>
                            @foreach (var claim in policy.Claims)
                            {
                                <div class="card">
                                    <div class="card-header">
                                        <a class="collapsed card-link" data-toggle="collapse" href=@($"#collapse_{policy.Id}_{claim.ClaimNumber}")>
                                            @claim.ClaimNumber
                                        </a>
                                    </div>
                                    <div id=@($"collapse_{policy.Id}_{claim.ClaimNumber}") class="collapse" data-parent=@($"#accordian_{policy.Id}")>
                                        <div class="card-body">
                                            <p>Status: @claim.Status</p>
                                            <p>Amount: @string.Format(new CultureInfo("en-GB"), "{0:C}", claim.AmountInPounds)</p>
                                            <p>Creation Date: @string.Format(new CultureInfo("en-GB"), "{0:d}", claim.CreationDate)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

